@use 'abstract';

.hamburger {
    cursor: pointer;
    outline: none;

    span {
        display: block;
        background-color: abstract.$very-dark-blue;
        height: 2px;
        width: 3rem;

        transition: all 300ms linear;
    }

    span + span {
        margin-top: 1rem;
    }

}

.hamburger + input:focus , .hamburger + input:hover {
    border: 5px solid;
}

#toggle {
    &:focus + label,
    &:hover + label {
        outline: 1px dotted abstract.$very-dark-blue;
        outline-offset: 2px;
    }

    &:checked ~ .hamburger .top {
        transform: translateY(1.1rem) rotateZ(45deg);
    }

    &:checked ~ .hamburger .bottom {
        transform: translateY(-1.1rem) rotateZ(-45deg);
    }

    &:checked ~ .hamburger .middle {
        width: 0;
    }
}
